.broda{
    
}

.broda:hover{
    text-decoration: line-through black;
}
.broda:active{
    text-decoration: line-through red;
}

.another:hover{
    text-decoration: overline underline black;

}
.another:active{
    text-decoration: overline underline line-through blue;
}