.parent{
    height: 400px;
    width: 400px;
    border: solid black;
}
.child1{
    height: 50px;
    width: 50px;
    background-color: blue;
    position: relative;
    
}

.child2{
    height: 50px;
    width: 50px;
    background-color: red ;
    position: absolute;
    left: 20px;
}