.parent{
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
}

.child{
    height: 50px;
    width: 50px;
    background-color: blue;
    position: absolute;
    bottom: 30px;
    right: 20px;
}