body{
    height: 200vh;
    background-color: chocolate;
    position: relative;
}

.loading{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px; 
    

}

    
.title{
    
    right: 20px;
    border: 2px solid  ;
    background-color: orange;
    position: fixed;
    border: solid 7px black;
    border-radius: 20px;
    display: flex;
    

    
}
.title:hover{
    color: blue;
    text-decoration: none;
    transition: 2s;
    font-size: 40px;
    

}


    
