h1{
    color:khaki;
    font-size: large;
    border: solid green 30px;
    border-radius: 10px;
    background-color: darkblue;
    text-align: center;
}
h2{
    color:green;
    font-size: large;
    border: solid brown 30px;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
}
p{
    color:chocolate;
    font-size: medium;
    border: solid 20px yellow;
    border-radius: 30%  red;
    background-color: yellowgreen;
    text-align: center;
}
img{
    border: 50px solid red ;
    border-radius:50px blue;
    text-align: right;

}